@import "tailwindcss";

:root {
  --color-bg: rgb(243, 243, 243);
  --color-text: rgb(79, 81, 85);
  --color-bg-button: rgb(43, 127, 255);
  --color-text-button: #ffffff;
  --color-border: rgb(162, 199, 255);
  --color-bg-card: rgba(162, 199, 255, 0.5);

}

body {
    background: rgb(1, 58, 143);
}
.dark {
  --color-bg: rgb(1, 58, 143);
  --color-text: #ffffff;
  --color-bg-button: #ffffff;
  --color-text-button: rgb(43, 127, 255);
  --color-border: #ffffff;
  --color-bg-card: rgb(43, 127, 255);
}
